<div>
    <h1>Recover Password</h1>
    <form action="/api/v1/session/recover" method="POST">
        <label for="email">Email</label><br>
        <input type="email" name="email" placeholder="Email" required>
        <br>
        <br>
        <label for="password">New Password</label><br>
        <input type="password" name="password" placeholder="New Password" required>
        <br>
        <br>
        <button type="submit">Update Password</button>
    </form>
</div>